@charset "UTF-8";

/*문서 전체에 대한 디자인 적용*/
body {
	font-size: 14px;
	font-family: 맑은고딕, 명조체;
}

/*전체 div 태그에 대한 디자인 적용*/
#container {
	width: 950px; /*문서 전체의 폭(가로) 설정*/
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #e8e2ae;
}

#head {
	height: 208px;
	margin-top: 0px;
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-position: left top; /*배경 이미지 위치 설정*/
	text-align: center;
}

/* header 영역 중에서 로그인 영역에 대한 디자인 적용*/
#login {
	float: right;
	margin: -20px 20px 0 0;
	font-size: 12px;
	word-spacing: 15px; /* 단어 사이의 간격 */
	text-shadow: 1px 2px 2px #666;
}

#login a {
	text-decoration: none;
	color: #333;
}

#login a:hover {
	color: #f90;
}

/*header 영역의 제목과 부제목 태그 디자인*/
header hgroup {
	position: relative;
	top: 60px;
	left: 180px;
}

/*header 영역의 주제목 디자인 적용*/
header h1 {
	font-size: 2.52em;
	color: #F2CB78;
	text-shadow: 1px 2px 2px #000;
}

/*header 영역의 부제목 디자인 적용*/
header h2 {
	font-size: 2em;
	color: #e18048;
	text-shadow: 0px 1px 1px #000;
}

/*네비게이션 영역 디자인 적용*/
#navi {
	background-color: #C07F5A;
	margin-top: -15px;
	width : 950px;
	height: 50px;
}

/*네비게이션 영역 ul태그 디자인 적용*/
#navi ul {
	list-style: none;
	height: 40px;
	padding-top: 10px; /*상단 안쪽 여백*/
}

/*네비게이션 영역 ul태그의 li태그 디자인 적용*/
#navi ul li {
	display: inline-block; /*수직메뉴를 수평메뉴로 변경*/
	font-size: 17px;
}

/*네비게이션 영역 a태그 디자인 적용*/
#navi a {
	padding: 10px 120px 5px 60px;
	color: #fff;
	text-decoration: none;
}

/*네비게이션 영역 a태그 방문 시 디자인 적용*/
#navi a:visited {
	color: #fff;
}

/* a 태그에 마우스 오버 시, 클릭 시, 포커스가 올라갔을 때 디자인*/
#navi a:hover, #navi a:active, #navi a:focus {
	text-shadow: 0px 2px 2px #000;
	color: #FC0;
}

/*section 영역 디자인*/
#content {
	background-color: #fff;
	padding-top: 5px;
	padding-left: 10px;
	width: 720px;
	float: left;
}

#content article p {
	text-align: justify; /*글자를 양쪽으로 균등하게 정렬*/	
}	

/*aside 영역*/
#sidebar {
	float: right;
	background-color: #E4DA7E;
	width : 200px;
	height: 505px;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

/*aside 영역의 이미지 부분*/
#sidebar img {
	margin-left: 30px;
	border: 1px solid #ccc;
	opacity: 0.5;
	text-align: center;
}

/*aside 영역의 이미지 태그*/
#sidebar img:hover {
	border: 1px solid #000;
	opacity: 1;
}

/*footer 영역 디자인*/
#foot {
	padding: 5px 0;
	background-color: #997000;
	color: #fff;
	text-align: center;
	font-size: 15px;
	clear: both; /*float 속성 해제*/
}
	
	
	